<!-- PROGRAMMER NAME: -->
<!-- Front-end: MARY KARYLLE DELOS REYES  -->
<!-- Back-end: ELIJAH REI SABAY  -->
{% load static %}
<html>
    <head>
      <meta charset="UTF-8" />
      <meta http-equiv="X-UA-Compatible" content="IE=edge" />
      <meta name="viewport" content="width=device-width, initial-scale=1.0" />
      <title>Registration Form</title>
      <link rel="stylesheet" href="{%static 'authentication/css/style.css'%}" />
      <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.0/css/line.css" />

    </head>
    <body>
        <section class="registration">
            <!-- <h1>HWLO</h1> -->
            <div class="form_container">
          <i class="uil uil-times form_close"></i>
          <!-- Login From -->
          <div class="form login_form">
            <form method="POST">
                {%csrf_token%}
              <h2>Login</h2>
  
              <div class="input_box">
                <label>Username</label>
                <!-- <input type="email" required /> -->
                 {{form.username}}
              </div>
              
              <div class="input_box" style="margin-top: 40px; margin-bottom:20px">
                <label>Password</label>
                <!-- <input type="password" required /> -->
                {{form.password}}
              </div>
  
              <button class="button">Login Now</button>
  
              <div class="login_signup">Don't have an account? <a href="{%url 'authentication:register'%}" id="" style="color: #F0EDED;">Signup</a></div>
            </form>
          </div>

        </div>
      </section>
      <script src="{% static 'js/script.js' %}"></script>
    </body>
  </html>
  