@import url('https://fonts.googleapis.com/css2?family=Knewave&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Aoboshi+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Aoboshi+One&family=Fredoka:wght@300..700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

@keyframes appear {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes disappear {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}


/* * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
} */

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
}

body::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}

body::-webkit-scrollbar-thumb {
    background: #9c9c9c; 
    border-radius: 10px;
}

body::-webkit-scrollbar-thumb:hover {
    background: #4e5c85; 
}

.logo {
    font-family: "Knewave", system-ui;
    font-size: 25px;
    font-weight: bold;
    margin-left: 12px;
    color: #000;
}

.toolbar {
    position: fixed;
    top: 0;
    left: 10px;
    right: 0;
    z-index: 10;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* background-color: white; */
    /* padding: 0px 0; */
    /* border-bottom: 2px solid #ddd; */
    height: 50px;
}

.left-controls {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    /* border: 1px solid #837f7f; */
    padding: 10px 10px;
    /* margin: 10px 10px; */
    margin-top: 15px;
    border-radius: 10px;
    height: 50px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.logo {
    height: 40px;
    margin-right: 20px;
}

.back-button {
    background-color: white;
    border: 1px solid #ddd;
    padding: 8px 15px;
    cursor: pointer;
    border-radius: 4px;
    font-size: 14px;
}

.right-controls {
    display: flex;
    align-items: center;
    gap: 15px;
    background-color: white;
    /* width: 200px; */
    height: 50px;
    padding: 10px 10px;
    margin: 15px 10px 0 0;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.circle-indicators {
    display: flex;
    align-items: center;
    /* margin-left: 10px; */
    border-right: 2px solid gray;
    padding: 0 12px;
}

.circle {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    margin-left: -5px;
    font-size: 12px;
    background-color: #e0dede;
    border: 1px solid #4e5c85;
    border-radius: 50%;
    cursor: pointer;
}

.active {
    background-color: #888;
}

.plus-circle {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 30px;
    text-align: center;
    margin-left: -5px;
    font-size: 12px;
    background-color: #e0dede;
    border: 1px solid #4e5c85;
    border-radius: 50%;
}

.profile-btn {
    background-color: #f5f5f5;
    border: 2px solid #373d50;
    border-radius: 50%;
    width: 35px;
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    cursor: pointer;
}

.share-btn {
    background-color: white;
    border: 1px solid #ddd;
    padding: 8px 10px;
    cursor: pointer;
    font-size: 14px;
    border-radius: 4px;
}

.join-btn {
    color: #000;
}

.board-container {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #e0e0e0;
    background-image: radial-gradient(circle, #c6c6c6 1px, transparent 1px);
    background-size: 20px 20px;
    background-repeat: repeat;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    padding: 20px;
    width: 100%;
    height: 100%;
    transition: transform 0.3s ease, background-size 0.3s ease;  /* Smooth zoom transition */
    transform-origin: 0 0; 
    overflow: hidden;
}

/* .board-container {
    
    position: relative;
} */

/* .note {
    width: 150px;
    height: 120px;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
} */

.blue-note {
    background-color: #cceeff;
}

.pink-note {
    background-color: #f4ccff;
}

.side-toolbar {
    position: fixed;
    /* left: 5px; */
    bottom: 5px;
    z-index: 10;
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    /* background-color: white; */
    padding: 10px;
    /* border-radius: 12px; */
    /* box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2); */
    /* gap: 2px; */
}

.edit-note-controls {
    display: flex;
    width: 50px;
    flex-direction: column;
    /* gap: 5px; */
    background-color: white;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    border-radius: 12px;
    padding: 10px;
}

.tool-btn {
    background-color: white;
    border: none;
    padding: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    border-radius: 6px;
    /* box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2); */
    width: 100%;
    height: 50px;
}

.tool-btn img {
    width: 24px;
    height: 24px;
    /* box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2); */
}

.tool-btn:hover {
    background-color: #f0f0f0;
}

.arrow-di img {
    transform: rotate(-45deg);
}

.redo-icon img {
    transform: rotate(-80deg);
}

.undo-icon img {
    -webkit-transform: scaleX(-1);
    -moz-transform: scaleX(-1);
    -o-transform: scaleX(-1);
    transform: scaleX(-1) rotate(-80deg);
    /* transform: ; */
}

.zoom-controls {
    display: flex;
    align-items: center;
    height: 45px;
    gap: 5px;
    margin-top: 15px;
    background-color: white;
    border-radius: 8px;
    padding: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.zoom-btn {
    background-color: white;
    border: none;
    padding: 8px;
    cursor: pointer;
    font-size: 18px;
    border-radius: 4px;
    /* box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2); */
}

.zoom-btn:hover {
    background-color: #f0f0f0;
}

.zoom-controls span {
    font-size: 14px;
    font-weight: bold;
    margin: 0 5px;
}

.general-users-mod {
    display: none;
    position: absolute;
    top: 7%;
    right: 12%;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 100;
    background-color: white;
    /* padding: 10px 10px; */
    border: 1px solid rgb(185, 184, 184);
    border-radius: 12px;
    box-shadow: 0 4px 5px rgba(0, 0, 0, 0.1);
    width: 260px;
    /* height: 20%;  */
}

.general-users-mod.appear {
    display: block;
    animation: appear 0.2s forwards;
}

.general-users-mod.disappear {
    display: block;
    animation: disappear 0.2s forwards;
}

.board-users-lbl {
    width: 100%;
    font-size: 15px;
    font-weight: 500;
    padding: 10px 15px;
    margin-bottom: 10px;
    border-radius: 5px;
    /* border: 1px solid gray; */
    box-shadow: 0 4px 0 rgba(0, 0, 0, 0.15);
}

/* .board-users-lbl span {
    font-size: 15px;
    font-weight: 500;
    color: black;
} */

.board-users-dropdown {
    /* display: flex;
    flex-direction: column;
    gap: 5px; */
    padding: 0 5px;
    overflow-y: auto;
    max-height: 300px;
}

.board-users-dropdown-item {
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
    padding: 2px 10px;
    margin-left: 10px;
    margin-bottom: 10px;
    cursor: pointer;
}

.board-users-dropdown-item:hover {
    border-radius: 5px;
    background-color: rgb(230, 230, 230);
}

.user-list-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    font-size: 12px;
    background-color: #e0dede;
    border: 1px solid #4e5c85;
    border-radius: 50%;
}

.user-list-name span {
    font-size: 14px;
}

.circle:hover .general-users-mod {
    display: block;
}

.profile-modal-overlay {
    display: none;
    position: fixed;
    /* align-items: center; */
    justify-content: center;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(179, 178, 178, 0.7);
    z-index: 1000;
}

.profile-modal-overlay.appear {
    display: flex;
    animation: appear 0.2s forwards;
}

.profile-modal-overlay.disappear {
    display: flex;
    animation: disappear 0.2s forwards;
}

.profile-card-modal {
    background-color: white;
    padding-block: 50px;
    padding-inline: 50px;
    border-radius: 20px;
    width: 40%;
    margin-top: 130px;
    max-height: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.board-user-profile {
    background-color: #f5f5f5;
    border: 5px solid #48486a;
    border-radius: 50%;
    width: 100%;
    height: 100%;
    font-size: 60px;
    font-weight: 200;
    font-style: italic;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    cursor: pointer;
}

.image{
    position: relative;
    height: 155px;
    width: 155px;
    margin-top: -120px;
}

.image .profile-pic{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
    box-shadow: 0 5px 20px rgba(0,0,0,0.4);
}

.data{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 5px;
    margin-bottom: 10px;
}

.dt1 span{
    color: rgb(104, 103, 103);
}
  
.data h2{
    font-size: 33px;
    font-weight: 600;
}
  
.data span{
    font-size: 15px;
    text-align: center;
}
  
.row{
    display: flex;
    align-items: center;
    margin-top: 25px;
    gap: 20px;
}
  
.row .info{
    text-align: center;
    padding: 0 20px;
}

.socials {
    display: flex;
    gap: 30px;
    margin-top: 10px;
}

.socials div {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 55px;
    height: 55px;
    color: #48486a;
    border-radius: 50%;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    cursor: pointer;
}

.close-icon {
    position: absolute;
    width: 40%;
    top: 80px;
    display: flex;
    height: 175px;
    justify-content: right;
    background-color: #48486a;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
}

#close-user-profile {
    margin-top: 20px;
    margin-right: 20px;
    cursor: pointer;
}