{%load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Document</title>
</head>
<body>
    
    <h1>Welcome to practice</h1>
    <div id = "categories-list"></div>
    <form id = "cat-form">
        {%csrf_token%}
        {{form.as_p}}
        <div id = "new-cat">
            <input type="button" value = "+">
        </div>
        <input type="submit" value = "save Cat">
    </form>
    
    <div id = "popup-cat" style = "display: none;">
        
        <h1>Welcome to practice</h1>
        <div id = "categories-list"></div>
        <form id = "cat-form">
            {%csrf_token%}
            {{form.as_p}}
            <input type="submit" value = "save Cat">
        </form>
    </div>
    <button id = 'test-btn'>Clcick me</button>
    <script src="{% static 'js/modalscript.js' %}"></script>
</body>
</html>