<!DOCTYPE html>
{% load static %}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    {% load bootstrap5 %}
    {% bootstrap_css %}
    {% bootstrap_javascript %}
</head>
<body>
  
  <p><b>Name:</b>  {{board.board_name}}</p>
  <p><b>Description:</b>  {{board.description}}</p>
  <p><b>Owner:</b>  {{board.owner}}</p>
  <p><b>Category:</b>  {{board.category}}</p>
  <p><b>Type:</b>  {{board.board_type}} ps plano nako wala ni kay dapat perm</p>
  <p><b>Theme:</b>  {{board.board_theme}}</p>
  <p><b>Visibility:</b>  {{board.visibility}}</p>
  <p><b>Users:</b> </p>
  {%for users in board.users.all%}
    <p>{{users.username}}</p>
  {%endfor%}

    


  <form methoD = 'POST'>
    {%csrf_token%}
    <div class="row">
     
      <div class="form-group col-md-4">
        <div class="col">
            <div class="col">
              <label for="inputState">Board Name</label>
              {{form.board_name}}
            </div>

            <div class="col">
              <label for="inputState">Board Name</label>
              {{form.description}}
            </div> 
        </div>
      </div>

      <div class="form-group col-md-4">
        <div class="row">
          <div class="col">
            <div class="form-group col-md-4">
              <label for="inputState">Tyoe</label>
              {{form.board_type}}
            </div>
          </div>
          
          <div class="col">
            <div class="form-group col-md-4">
              <label for="inputState">Theme</label>
              {{form.board_theme}}
            </div>
          </div>
          <div class="col-auto">
            <div class="form-group col-md-4">
              <label for="inputState">Visibility</label>
              {{form.visibility}}
            </div>
          </div>
          
        </div>
        <div class="row">
          <h6>Remove Users</h6>
          {%for users in  board.users.all%}
            <p>{{users.username}}   <input class="form-check-input position-static" type="checkbox" name = "remove_users" id="blankCheckbox" value="{{users.id}}" aria-label="..."></p> 
          {%endfor%}
        </div>
        
      </div>
      <div class="col">
        <label for="">Enter category</label>
        <select name="category" id="id_category" >
          {% for category in form.category.field.queryset %}
              <option value="{{ category.pk }}" {% if category.pk == board.category.id %}selected{% endif %}>
                  {{ category.category_name }}
              </option>
          {% endfor %}
      </select>
        <!-- {{form.new_category}}
        {{form.new_description}} -->
        <div class="col">
          <h6>Add Users</h6>
          {%for users in  form.users.field.queryset%}
            <p>{{users.username}}   <input class="form-check-input position-static" type="checkbox" name = "remove_users" id="blankCheckbox" value="{{users.id}}" aria-label="..."></p> 
          {%endfor%}
        </div>
      </div>

    </div>
    
    <button type="submit" >Save</button>
  </form>

    <a href="{% url 'mainApp:home'%}">GO HOME</a>
    <script src="{% static 'board/updateTable.js' %}"></script>

</body>
</html>