{% extends 'mainApp/base.html' %}
{% block content %}
{% if messages %}
    <div class="board-alert-container">
        {% for message in messages %}
            <div class="board-alert board-alert-{{ message.tags }}">{{ message }}</div>
        {% endfor %}
    </div>
{% endif %}

<section class="boards-header">
    <div class="board-tabs">
        <a href="{% url 'mainApp:my_boards' %}"><button class="tab-button user-boards-sect active">My Boards</button></a>
        <a href="{% url 'mainApp:collaborated_boards' %}"><button class="tab-button shared-boards-sect">Collaborated Boards</button></a>
    </div>
    <div class="filters">
        <select class="filter-dropdown">
            <option>Visibility</option>
            <option>Public</option>
            <option>Private</option>
        </select>
        <select class="filter-dropdown">
            <option>Board Type</option>
            <option>Project</option>
            <option>Simple</option>
        </select>
    </div>
</section>

<section class="board-list home-boards b1-board-list">
    {% for board in boards %}
        <a href="{% url 'board:note_board' board.id %}" class="board-preview" style="background-color: {{ board.board_theme }};">
            <div class="board-header">
                <h2>{{ board.board_name }}</h2>
                <img class="ellipsis" src="/media/option.svg" alt="vertical-dots" width="12" height="12">
                <!-- <div class="ellipsis">...</div> -->
            </div>
            <div class="board-content">
                <p class="creator">Created byot {{ board.creator.username }}</p>
                <p class="updated-time">Last updated {{ board.timestamp }}</p>
                <div class="ca-vi-container">
                    <div class="board-category">{{ board.category.category_name }}</div>
                    {% if board.visibility == 'public' %}
                    <p class="collaborator">Public Board</p>
                    {% else %}
                    <p class="collaborator">Private Board</p>
                    {% endif %}
                </div>
                {% if board.board_type == 'project' %}
                    {%for project in projectboards%}
                    <!--HEREEEEEEEEEEEE DONE-->
                    {%if project.id == board.id%}
                <!-- <div class="progress-container" style="border-top: none;">
                    <div class="progress-bar">
                    </div>
                    <span data-width="90%">{{project.progress}}%</span>
                </div> -->
                <div class="progress-container" style="border-top: none;">
                    <div id="myProgress">

                        <div id="myBar" 
                                 style="width: {{ project.progress }}%;">
                        </div>
                    </div>
                    <span>{{ project.progress }}%</span>
                </div>
                
                
                {%endif%}
                {%endfor%}
                {% endif %}
            </div>
        </a>
    {% endfor %}

</section>

{% endblock %}