<!DOCTYPE html>
{% load static %}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>STICKIT|My Space</title>
    <link rel="stylesheet" href="{% static 'mainApp/styles.css' %}">
    <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.0/css/line.css" />
</head>
<body class="my-space-main-container">
    <header>
        <div class="logo">STICKIT</div>
        <div class="header-icons">
            <button class="create-board-btn" onclick="openModal()">Create Board</button>
            <div class="user-dropdown">
                <div class="user-icon" id="user-icon" onclick="myFunction()">
                    <span class="user-initials">{{ initials }}</span>
                </div>
                <div class="dropdown-menu" id="dropdown-menu">
                    <!-- <a href="#" class="dropdown-item" onclick="openProfileModal()">Profile</a> -->
                    <a href="#" class="dropdown-item">My Space</a>
                    <a href="{% url 'authentication:logout' %}" class="dropdown-item">Logout</a>
                </div>
            </div>
        </div>
    </header>

    <main class="my-space">
        <div class="heading-container">
            <!-- <a href="{% url 'mainApp:home' %}"><img src="/media/arrow.png" alt="back-arrow-icon" height="23px" width="23px"></a> -->
            <a href="{% url 'mainApp:home' %}" style="font-size: 15px;">Back to home</a>
            <h1>My Space</h1>
        </div>
        <div class="space-content-container">
           <div class="tab-wrapper">
                <button class="tab-btn active profile-tab" onclick="showProfile()">Profile</button>
                <button class="tab-btn my-boards-tab" onclick="showMyBoards()">My Boards</button>
            </div> 
            <!-- Profile Section -->
            <section id="profile-section" class="content-section">
                <div class="profile-header">
                    <div class="user-icon-large">
                        <span class="user-initials">{{ initials }}</span>
                    </div>           
                    <div class="name-and-email">
                        {% if user.is_authenticated %}
                        <h2>{{ user.get_username }}</h2>
                        <p>{{ user.email }}</p>
                        {% else %}
                        <h2>Unknown User</h2>
                        <p>unknown@gmail.com</p>
                        {% endif %}
                    </div>
                </div>
                <div class="profile-content">
                    <!-- <div class="tabs"></div> -->
                    <div id="about" class="tab-content">
                        <div class="profile-sect">
                            <button class="tab active">ABOUT ME</button>
                            <img src="/media/edit-text.png" width="16" height="16" alt="edit-text-icon" onclick="openEditProfileModal()" style="cursor: pointer;">
                        </div>
                        <p>{{ user_profile.description }}</p>
                        <p>Joined last September 02, 2024</p>
                        <!-- <a href="#" class="profile-link" onclick="openEditProfileModal()">Edit profile info</a> -->
                    </div>
                    <div id="social" class="tab-content">
                        <div class="profile-sect">
                            <button class="tab active">SOCIAL LINKS</button>
                            <img src="/media/edit-text.png" width="16" height="16" alt="edit-text-icon" onclick="openEditProfileModal()" style="cursor: pointer;">
                        </div>
                        <div class="social-links">
                            <img src="/media/facebook.png" width="25" height="25" alt="facebook-icon">
                            <p>{{ user_profile.facebook_link }}</p>
                        </div>
                        <div class="social-links">
                            <img src="/media/linkedin.png" width="25" height="25" alt="facebook-icon">
                            <p>{{ user_profile.linkedin_link }}</p>
                        </div>
                        <div class="social-links">
                            <img src="/media/twitter.png" width="25" height="25" alt="facebook-icon">
                            <p>{{ user_profile.twitter_link }}</p>
                        </div>
                    </div>
                </div>
            </section>

            <!-- My Boards Section -->
            <section id="my-boards-section" class="content-section" style="display: none;">
                <div class="search-bar v2-search">
                    <input type="text" placeholder="Search your board">
                </div>
                <div class="board-categories-v2">
                    <button class="tab active">All Boards</button>
                    <button class="tab">Work</button>
                    <button class="tab">Personal</button>
                    <button class="tab">Study</button>
                </div>
            </section>
        </div>
    </main>

    <!-- Modal Overlay -->
    <div id="createBoardModal" class="modal-overlay">
        <div class="modal-content">
            <div class="modal-header">
                <h2>Create Board</h2>
                <span class="close-btn" style="font-size: 28px;" onclick="closeModal()">&times;</span>
            </div>
            
            <form method="POST" action="{% url 'board:create_board' %}"> 
                {% csrf_token %}
                <div class="form-group first-input">
                    <label for="board-namde">Board Name</label>
                    <input value="{{ form.board_name }}" id="board-name" placeholder="Board Name" >
                    <!-- <div class="input">
                        {{forms.board_name}}
                    </div> -->
                </div>

                <div class="form-group">
                    <label for="board-description">Board Description</label>
                    <textarea value="{{ form.board_description }}" id="board-description" placeholder="Board Description"></textarea>
                    <!-- <div class="textarea"> -->
                        <!-- {{ forms.board_description }} -->
                    <!-- </div> -->
                </div>

                <div class="form-group">
                    <label for="collaborators">Collaborators</label>
                    <input type="text" id="collaborators" placeholder="Collaborators">
                </div>

                <div class="form-group">
                    <label for="category">Category</label>
                    <select id="category" onchange="handleCategoryChange()">
                        <option value="" selected>Select...</option>
                        <option value="create-new">Create new...</option>
                        <option value="work">Work</option>
                        <option value="study">Study</option>
                        <option value="personal">Personal</option>
                        {% for category in categories %}
                            <option value="{{ category.id }}">{{ category.category_name }}</option>
                        {% endfor %}
                    </select>
                    <input value="{{ category.id }}" id="new-category" placeholder="Enter new category" style="display: none; margin-top: 10px;">
                </div>

                <div class="form-group flex-container" style="margin-bottom: 0;">
                    <div class="board-type">
                        <label>Board Type</label>
                        <select id="board-type">
                            <option value="" selected>Select...</option>
                            <option value="{{ form.board_type }}">Simple Board</option>
                            <option value="{{ form.board_type }}">Project Board</option>
                        </select>
                        <!-- {{ forms.board_type }} -->
                    </div>
    
                    <div class="form-group">
                        <label for="theme">Theme</label>
                        <select id="theme" name="theme" class="theme-select">
                            <option value="{{ form.board_theme }}">Default (White)</option>
                            <option value="{{ form.board_theme }}">Blue</option>
                            <option value="{{ form.board_theme }}">Green</option>
                            <option value="{{ form.board_theme }}">Pink</option>
                        </select>
                        <!-- {{ forms.board_theme }} -->
                    </div>
                </div>

                <div class="form-group visibility-create-container">
                    <div class="visibility">
                        <label for="visibility">Visibility</label>
                        <select id="visibility" name="visibility" class="visibility-select">
                            <option value="{{ form.visibility }}">Public</option>
                            <option value="{{ form.visibility }}">Private</option>
                        </select>
                    </div>

                    <button type="submit" class="submit-btn">Create</button>
                </div>
            </form>
        </div>
    </div>

    <!-- Edit Profile Modal -->
    <div id="editProfileModal" class="profile-modal-overlay">
        <div class="modal-content">
            <div class="edit-profile-header">
                <h2>Edit Profile</h2>
                <span class="close-btn" onclick="closeEditProfileModal()">Cancel</span>
            </div>
            <form>
                <div class="form-group">
                    <label for="first-name">First Name</label>
                    <input type="text" id="first-name" placeholder="First Name">
                </div>
                <div class="form-group">
                    <label for="last-name">Last Name</label>
                    <input type="text" id="last-name" placeholder="Last Name">
                </div>
                <div class="form-group">
                    <label for="short-bio">Short Bio</label>
                    <textarea id="short-bio" placeholder="Short Bio"></textarea>
                </div>
                <button type="submit" class="confirm-btn">Confirm Edit</button>
            </form>
        </div>
    </div>

    <script src="{% static 'mainApp/scripts.js' %}"></script>
</body>
</html>
