{% load static %}
{% load django_bootstrap5 %}
{% load custom_filters %}
<!DOCTYPE html>
<head>
    {% bootstrap_css %}
    <title>STICKIT Board</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/notestyle.css' %}">
    <link rel="stylesheet" href="{% static 'styles.css' %}">
    <!-- Add this in your base template -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/quill@2.0.3/dist/quill.snow.css" rel="stylesheet" />
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.14.3/dist/sweetalert2.all.min.js"></script>
    <script src="https://cdn.quilljs.com/1.3.7/quill.js"></script>
</head>
<body>
    <div class="toolbar">
        <div class="left-controls">
            <div class="logo">STICKIT</div>
            <button class="back-button"><a href="{% url 'mainApp:home' %}" style="color: black; text-decoration: none;">Back to files</a></button>
            <!-- <button class="back-button"><a href="{% url 'board:update_board' board.id %}" style="color: black; text-decoration: none;">Update Board</a></button> -->
             {%if board.creator == request.user%}
                <button type="button" class = "back-button" data-bs-toggle="modal" data-bs-target="#updateBoardModal">
                    Update Board 
                </button>
                {%if board.board_type == "project"%}
                    <button type="button" class = "back-button" data-bs-toggle="modal" data-bs-target="#progressBoardModal">
                        Progress
                    </button>
                {%endif%}
            {%endif%}
        </div>
        <div class="right-controls">
            <div class="circle-indicators" style="padding: {% if count == 1 %}0 0{% else %}0 12px{% endif %};">
                {% if board.user_count >= 5 %}
                    {% if board.users.userprofile.image %} 
                    <div class="circle" style="background-image: url({{ board_user.userprofile.image.url }}); background-size: cover; background-position: center;"></div>
                    <div class="circle" style="background-image: url({{ board_user.userprofile.image.url }}); background-size: cover; background-position: center;"></div>
                    <div class="circle" style="background-image: url({{ board_user.userprofile.image.url }}); background-size: cover; background-position: center;"></div>
                    {% else %} 
                    <div class="circle">{{ initials }}</div>
                    <div class="circle"></div>
                    <div class="circle"></div>
                    {% endif %}
                    {% if board.user_count > 2 %}
                    <span class="plus-circle">{{ board.user_count }}+</span>
                    {% else %}
                    <span class="plus-circle">{{ board.user_count }}</span>
                    {% endif %}
                {% else %}
                    {% for board_user in board.users.all %}
                        {% if board_user != board.creator %}
                            {% if board_user.userprofile.image %} 
                            <div class="circle" style="background-image: url({{ board_user.userprofile.image.url }}); background-size: cover; background-position: center;"></div>
                            {% else %} 
                            <div class="circle">{{ board_user | user_initials }}</div> <!--HEREEEEEEEEEE just add | user_initials once human-->
                            {% endif %}
                        {% endif %}
                    {% endfor %}
                {% endif %}
            </div>
            {% if board.creator.userprofile.image %} 
            <div class="profile-btn" style="background-image: url({{ board.creator.userprofile.image.url }}); background-size: cover; background-position: center;">
            </div>
            {% else %} 
            <div class="profile-btn">{{ board.creator | user_initials }}</div> <!--HEREEEEEEEEEE just add | user_initials once human-->
            {% endif %}
            {% if user not in board.users.all %}
            <a href="{% url 'board:join_board' board.id %}" class="share-btn join-btn" style="text-decoration: none;">Join Board</a>
            <!-- <button >Join</button> -->
            {% else %}
            <div class="share-btn" style="cursor: none;">{{ board.board_name }}</div>
            {% endif %}
        </div>
    </div>

    
    <div class="note_div" >
        <form class="div_note_form" action="">
            {% csrf_token %}
            <input type="color" id="color" value="#c6c6c6">
            <button type="button" id="createBtn">+</button>
        </form>
        <div id="list">    
        </div>
    </div>
    <div class="zoom-controls">
        <h1>DEBUG!</h1>
        <button class="zoom-out-btn zoom-btn">-</button>
        <span class="zoom-display">100%</span>
        <button class="zoom-in-btn zoom-btn">+</button>
    </div>
    <div>
    </div>
    <div>
    </div>


    <div class="modal fade" id="updateBoardModal" tabindex="-1" aria-labelledby="updateBoardModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                
                <div class="modal-header">
                    <h5 class="modal-title" id="updateBoardModalLabel">Update {{ board.board_name }}</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <!-- Form -->
                    <form action="{% url 'board:update_board' board.id %}" method="POST">
                        {% csrf_token %}
                        <div class="form-group mb-3">
                            <label for="board-name">Board Name</label>
                            <input type="text" name="board_name" id="board-name" class="form-control" value="{{ board.board_name }}" required>
                        </div>
    
                        <div class="form-group mb-3">
                            <label for="category">Category</label>
                            <select name="category" id="category" class="form-select" onchange="handleCategoryChange()" required>
                                <option value="create-new">Create new...</option>
                                {% for category in categories %}
                                    <option value="{{ category.id }}" {% if category.category_name == board.category.category_name %}selected{% endif %}>
                                        {{ category.category_name }}
                                    </option>
                                {% endfor %}
                            </select>
                            <input type="text" id="new-category" name="new-category" placeholder="Enter new category" class="form-control mt-2" style="display: none;">
                        </div>
    
                        <!-- Add the rest of your form fields here, similar to your original structure -->
                        <div class="form-group">
                            <label for="board-description">Board Description</label>
                            <textarea name="description" id="board-description"
                            required> {{board.description}}</textarea>
                        </div>
    
                        <div class="form-group flex-container" style="margin-bottom: 0;">
                            
                            <div class="form-group">
                                <label for="add">Add users</label>
                                <div class = "add-remove-scrollable">
                                    {%for users in add%}
                                    <div class="users-checkbox-label">
                                        <input type="checkbox" id="{{ users.id }}" value="{{ users.id }}" name = "add_user">
                                        <label for="{{ users.id }}">{{users.username}}</label>
                                    </div>
                                    {%endfor%}
                                </div>
                        
                            </div>
                            
                            <div class="form-group">
                                <label for="add">Remove users</label>
                                <div class = "add-remove-scrollable">
                                    {%for users in remove%}
                                    <div class="users-checkbox-label">
                                        <input type="checkbox" id="{{ users.id }}" value="{{ users.id }}" name = "remove_user">
                                        <label for="{{ users.id }}">{{users.username}}</label>
                                    </div>
                                    {%endfor%}
                                </div>
                            </div>
                        </div>
    
    
                        <div class="row g-3">
                            <div class="col-md-4">
                                <label for="visibility">Visibility</label>
                                <select id="visibility" name="visibility" class="form-select">
                                    <option value="public" {% if board.visibility == "public" %}selected{% endif %}>Public</option>
                                    <option value="private" {% if board.visibility == "private" %}selected{% endif %}>Private</option>
                                </select>
                            </div>
                            <div class="col-md-4">
                                <label for="theme">Theme</label>
                                <select name="board_theme" id="theme" class="form-select">
                                    <option value="#dddcd7" {% if board.board_theme == "#dddcd7" %}selected{% endif %}>Default (Gray)</option>
                                    <option value="#e0ecf8" {% if board.board_theme == "#e0ecf8" %}selected{% endif %}>Blue</option>
                                    <option value="#dbeed5" {% if board.board_theme == "#dbeed5" %}selected{% endif %}>Green</option>
                                    <option value="#fde4e4" {% if board.board_theme == "#fde4e4" %}selected{% endif %}>Pink</option>
                                </select>
                            </div>
                            <div class="col-md-4">
                                <label for="board-type">Board Type</label>
                                <select name="board_type" id="board-type" class="form-select" disabled>
                                    <option value="simple" {% if board.board_type == "simple" %}selected{% endif %}>Simple Board</option>
                                    <option value="project" {% if board.board_type == "project" %}selected{% endif %}>Project Board</option>
                                </select>
                            </div>
                        </div>
                        


                        <div class="form-group text-end">
                            <button type="submit" class="btn btn-primary">Update</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    {% if board.board_type == "project"%}


    <div class="modal fade" id="progressBoardModal" tabindex="-1" aria-labelledby="progressBoardModal" aria-hidden="true">
        <div class="modal-dialog modal-lg modal-dialog-scrollable">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="progressLabel">{{ board.board_name }} Progress {{progress}}%</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form method="POST" action="{%url 'board:update_progress' board.id %}">
                        {% csrf_token %}
                        <div class="mb-3">
                            {% for note in notes %}
                            <div class="row align-items-center mb-3">
                                <div class="col-md-8 text-truncate" title="{{ note.content }}">
                                    <label for="note-{{ note.id }}">{{ note.id }}: {{ note.content }}</label>
                                </div>
                                <div class="col-md-4 d-flex justify-content-evenly">
                                    <div class="form-check">
                                        <input class="form-check-input" type="radio" id="complete-{{ note.id }}" name="note_{{ note.id }}" value="complete" 
                                        {% if note.is_finished == 1 %}checked{% endif %}                                        
                                        required>
                                        <label class="form-check-label" for="complete-{{ note.id }}">✔️</label>
                                    </div>
                                    <div class="form-check">
                                        <input class="form-check-input" type="radio" id="incomplete-{{ note.id }}" name="note_{{ note.id }}" value="incomplete" 
                                        {% if note.is_finished == 0 %}checked{% endif %}                                        
                                        required>
                                        <label class="form-check-label" for="incomplete-{{ note.id }}">❌</label>
                                    </div>
                                </div>
                            </div>
                            {% endfor %}
                        </div>
                        <div class="modal-footer">
                            <button type="submit" class="btn btn-primary">Save</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    
    
    {%endif%}


<!--  -->

<div class="general-users-mod" id="general-users-mod">
    <div class="board-users-lbl"><span>Board Users</span></div>
    <div class="board-users-dropdown">
        {% for board_user in board.users.all %}
            {% if board_user != board.creator %}
                <div class="board-users-dropdown-item"
                    {% if board_user.userprofile.image %}
                    data-image="{{ board_user.userprofile.image.url }}"
                    {% else %}
                    data-first-name="{{ board_user.first_name }}"
                    data-last-name="{{ board_user.last_name }}"
                    {% endif %}
                    data-user-name="{{ board_user.username }}"
                    data-email="{{ board_user.email }}"
                    data-description="{{ board_user.userprofile.description }}"
                    data-facebook="{{ board_user.userprofile.facebook_link }}"
                    data-linkedin="{{ board_user.userprofile.linkedin_link }}"
                    data-twitter="{{ board_user.userprofile.twitter_link }}">
                    {% if board_user.userprofile.image %}
                    <div class="user-list-icon" style="background-image: url({{ board_user.userprofile.image.url }}); background-size: cover; background-position: center;"></div>
                    {% else %}
                    <div class="user-list-icon">{{ board_user|user_initials }}</div>
                    {% endif %}
                    <div class="user-list-name">
                        <span>{{ board_user.username }}</span>
                    </div>
                </div>
            {% endif %}
        {% endfor %}
    </div>
</div>

<div class="general-users-mod admin-users-mod" id="admin-users-mod">
    <div class="board-users-lbl">Board Users</div>
    <div class="board-users-dropdown">
        {% for board_user in board.users.all %}
            {% if board_user != board.creator %}
                <div class="board-users-dropdown-item">
                    {% if board_user.userprofile.image %}
                    <div class="user-list-icon" style="background-image: url({{ user_profile.image.url }}); background-size: cover; background-position: center;"></div>
                    {% else %}
                    <div class="user-list-icon">{{ board_user|user_initials }}</div>
                    {% endif %}
                    <div class="user-list-name">
                        <span>{{ board_user.username }}</span>
                    </div>
                </div>
            {% endif %}
        {% endfor %}
    </div>
</div>
<!--  -->
    <div class="profile-modal-overlay">
        <div class="profile-card-modal">
            <div class="close-icon">
                <img id="close-user-profile" src="/media/x-close.svg" alt="x-symbol" width="18" height="18">
            </div>
            <div class="image">
                <div class="board-user-profile"></div>
            </div>
            <div class="data dt1">
                <h2 class="board-user-name">Olivia Gomez</h2>
                <span class="board-user-email">olivia.gomez@gmail.com</span>
            </div>
            <div class="data dt2">
                <span class="board-user-description"><em>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse vel venenatis dolor. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.</em></span>
            </div>
            <div class="row socials">
                <a href="" class="board-user-facebook"><div><img src="/media/facebook.png" alt="" width="30" height="30"></div></a>
                <a href="" class="board-user-linkedin"><div><img src="/media/linkedin.png" alt="" width="35" height="35"></i></div></a>
                <a href="" class="board-user-twitter"><div><img src="/media/twitter.png" alt="" width="25" height="25"></i></div></a>
            </div>
        </div> 
    </div>
    <script src="{% static 'mainApp/js/profile_stuff.js' %}"></script>


    <script>
        const noteBoardName = "{{ note_board_name }}";  // Pass the variable from the template
    </script>
    <script src="{% static 'js/notescript.js' %}"></script>

</body>
    <script>
</script>