{% load static %}
{% load django_bootstrap5 %}
<!DOCTYPE html>
<head>
    <link rel="stylesheet" type="text/css" href="{% static 'css/notestyle.css' %}">
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.14.3/dist/sweetalert2.all.min.js"></script>
    {% bootstrap_css %}
</head>
<body>
    <!-- <input type="checkbox" class="btn-check" id="btn-check-2-outlined" checked autocomplete="off">
    <label class="btn btn-outline-secondary" for="btn-check-2-outlined">Checked</label><br> -->
    
    <div class="note_div" >
        <form class="div_note_form" action="">
            {% csrf_token %}
            <input type="color" id="color" value="#e6b905">
            <button type="button" id="createBtn">+</button>
        </form>
        <div id="list">    
        </div>
    </div>
    <script src="{% static 'js/notescript.js' %}"></script>
</body>
    <script>
</script>